@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  max-width:1366px;
  overflow-x: hidden;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @media (max-width: 768px) {
    overflow-x: hidden;
  }
}



body {
  min-width: 320px;
  min-height: 100vh;
  max-width: 1366px;
  background-color: whitesmoke
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}


.main{
  width: 100%;
  height: 100vh;

}

video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  
}

.content{
 position: absolute;
 width: 100%;
 height: 100vh;
 top: 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-left: 8%;
}


.title{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 0.7%;
 
}

.section {
  width: 100%;
  height: auto;
  max-width: 100vw;
  display: block;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.wallpaper {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;

}